In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df = pd.read_csv("zomato_data.csv")
df.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

In [29]:
df.shape

(51717, 10)

In [88]:
df.dtypes

online_order                  object
book_table                    object
rate                         float64
votes                        float64
rest_type                     object
dish_liked                    object
cuisines                      object
approx_costfor_two_people    float64
listed_intype                 object
listed_incity                 object
dtype: object

## Text Preprocessing

In [90]:
#converting datatypes of approx_costfor_two_people columns into float
df["approx_costfor_two_people"] = df["approx_costfor_two_people"].replace(",","")
df["approx_costfor_two_people"] = df["approx_costfor_two_people"].astype('float64')

In [91]:
#converting the rate column in float
df["rate"] = df["rate"].replace("/5",0)
df["rate"]  = df["rate"].replace("NEW",0)
df["rate"] = df["rate"].replace("",0)
df["rate"] = df["rate"].astype("float64")

In [92]:
#converting the votes column in float
df["votes"] = df["votes"].astype("float64")

## Performing EDA

In [30]:
value = r'\bNorth[-_\s]Indian\b'

### Total no. of restaurant serving north Indian cuisines

In [31]:
len(df[df["cuisines"].str.contains(value,na = False)])

21085

### The city in bangalore with the highest average cost of dining

In [54]:
df[df["approx_costfor_two_people"] == df["approx_costfor_two_people"].max()] #optional

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
19139,No,Yes,4.3/5,126,Fine Dining,"Wine, Asparagus Soup, Creme Brulee, Pasta, Rav...","French, Italian",6000.0,Dine-out,Indiranagar
45618,No,Yes,4.3 /5,128,Fine Dining,"Wine, Asparagus Soup, Creme Brulee, Pasta, Rav...","French, Italian",6000.0,Dine-out,Old Airport Road

In [55]:
df.groupby("listed_incity")["approx_costfor_two_people"].max()  # Indiranagar

listed_incity
BTM                      2500.0
Banashankari             1500.0
Bannerghatta Road        1700.0
Basavanagudi             2200.0
Bellandur                2500.0
Brigade Road             4000.0
Brookefield              3000.0
Church Street            4000.0
Electronic City          3000.0
Frazer Town              3000.0
HSR                      2000.0
Indiranagar              6000.0
JP Nagar                 1700.0
Jayanagar                1700.0
Kalyan Nagar             1800.0
Kammanahalli             2000.0
Koramangala 4th Block    3000.0
Koramangala 5th Block    2500.0
Koramangala 6th Block    2500.0
Koramangala 7th Block    2500.0
Lavelle Road             4100.0
MG Road                  4000.0
Malleshwaram             5000.0
Marathahalli             4500.0
New BEL Road             2000.0
Old Airport Road         6000.0
Rajajinagar              2600.0
Residency Road           4000.0
Sarjapur Road            2500.0
Whitefield               3000.0
Name: approx_costfor_two_people, dtype: float64

### Restaurant type which has the top rating over 1000 votes

In [103]:
df.groupby("rest_type")[["votes","rate"]].max()  # Bakery

                             votes  rate
rest_type
Bakery                      1161.0   4.8
Bakery, Beverage Shop          4.0   3.2
Bakery, Cafe                5352.0   4.4
Bakery, Dessert Parlor       506.0   4.3
Bakery, Food Court            38.0   3.2
...                            ...   ...
Sweet Shop                  1077.0   4.4
Sweet Shop, Dessert Parlor     0.0   NaN
Sweet Shop, Quick Bites      377.0   4.3
Takeaway                     154.0   4.2
Takeaway, Delivery          1054.0   4.5

[93 rows x 2 columns]

In [104]:
df.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1,775.0,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari
1,Yes,No,4.1,787.0,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari
2,Yes,No,3.8,918.0,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari
3,No,No,3.7,88.0,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari
4,No,No,3.8,166.0,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,Buffet,Banashankari

### How much does it cost at minimum to eat out in Bangalore

In [129]:
df["approx_costfor_two_people"].mean()

555.4315664479959

### What percentage of total online orders is received by restaurants in Banashankari?

In [178]:
df.groupby("online_order")["listed_incity"].value_counts()  # Total no. of order inline booked in banashankari is 546

online_order  listed_incity
No            BTM                      1148
              Koramangala 7th Block    1135
              Koramangala 5th Block    1060
              Lavelle Road             1002
              Koramangala 4th Block     987
              Koramangala 6th Block     955
              MG Road                   947
              Church Street             939
              Residency Road            916
              Brigade Road              853
              Indiranagar               791
              Jayanagar                 782
              Whitefield                761
              JP Nagar                  757
              Marathahalli              707
              Electronic City           665
              Old Airport Road          619
              Bannerghatta Road         607
              HSR                       555
              Kammanahalli              552
              Brookefield               552
              Rajajinagar               539
              Kalyan Nagar              528
              Sarjapur Road             485
              Basavanagudi              472
              Frazer Town               472
              Malleshwaram              433
              Bellandur                 406
              New BEL Road              331
              Banashankari              317
Yes           BTM                      2131
              Koramangala 7th Block    1803
              Koramangala 4th Block    1792
              Koramangala 5th Block    1776
              Koramangala 6th Block    1668
              Jayanagar                1589
              JP Nagar                 1339
              HSR                      1186
              Indiranagar              1069
              Bannerghatta Road        1010
              Brookefield               966
              Marathahalli              952
              Brigade Road              916
              Church Street             888
              MG Road                   864
              Whitefield                859
              Bellandur                 821
              Old Airport Road          806
              Basavanagudi              794
              Kalyan Nagar              781
              Kammanahalli              777
              Sarjapur Road             776
              Lavelle Road              742
              Frazer Town               713
              Residency Road            704
              Malleshwaram              663
              Electronic City           564
              Banashankari              546
              Rajajinagar               540
              New BEL Road              409
Name: count, dtype: int64

In [179]:
df["listed_incity"].value_counts()      # total occurence of Banashankari is 863

listed_incity
BTM                      3279
Koramangala 7th Block    2938
Koramangala 5th Block    2836
Koramangala 4th Block    2779
Koramangala 6th Block    2623
Jayanagar                2371
JP Nagar                 2096
Indiranagar              1860
Church Street            1827
MG Road                  1811
Brigade Road             1769
Lavelle Road             1744
HSR                      1741
Marathahalli             1659
Residency Road           1620
Whitefield               1620
Bannerghatta Road        1617
Brookefield              1518
Old Airport Road         1425
Kammanahalli             1329
Kalyan Nagar             1309
Basavanagudi             1266
Sarjapur Road            1261
Electronic City          1229
Bellandur                1227
Frazer Town              1185
Malleshwaram             1096
Rajajinagar              1079
Banashankari              863
New BEL Road              740
Name: count, dtype: int64

In [184]:
percent_of_online_order_received = print(f"{round(546/863 * 100,3)}%")
percent_of_online_order_received

63.268%

### Which locality has the most restaurants with over 500 votes and a rating of below 3.0

In [140]:
df[(df["votes"] > 500.0) & (df["rate"] < 3.0)]["listed_incity"].value_counts()  # Brookefield

listed_incity
Brookefield              8
Whitefield               6
Indiranagar              4
Old Airport Road         4
Bellandur                3
Marathahalli             3
Banashankari             2
Koramangala 4th Block    2
Koramangala 5th Block    2
Koramangala 6th Block    2
Koramangala 7th Block    2
Sarjapur Road            2
HSR                      1
Kalyan Nagar             1
Kammanahalli             1
Name: count, dtype: int64

### Which locality in Bangalore should Zomato target for expansion based on restaurant type diversity?

In [142]:
df.groupby("listed_intype")["listed_incity"].value_counts()  # Brigade Road

listed_intype  listed_incity
Buffet         Lavelle Road      65
               Church Street     60
               Residency Road    59
               Brigade Road      57
               MG Road           54
                                 ..
Pubs and bars  Malleshwaram      20
               Sarjapur Road     20
               Bellandur         19
               Frazer Town       16
               New BEL Road       7
Name: count, Length: 195, dtype: int64

### What's the average cost difference between buffet and delivery restaurants?

In [144]:
df["listed_intype"].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

In [149]:
avg_cost_buffet = df[df["listed_intype"] == "Buffet"]["approx_costfor_two_people"].mean()

In [153]:
avg_cost_delivery = df[df["listed_intype"] == "Delivery"]["approx_costfor_two_people"].mean()

In [154]:
avg_cost_diff = avg_cost_buffet - avg_cost_delivery
avg_cost_diff

842.1711122180861

### What is the maximum number of votes received by any restaurant with online ordering?

In [155]:
df.groupby("online_order")["votes"].max()   # 16832

online_order
No     14956.0
Yes    16832.0
Name: votes, dtype: float64

### What is the average rating of restaurants that serve both North Indian and Chinese cuisines?

In [163]:
pattern = r'\bNorth[-_\s]?Indian\b|\bChinese\b'

df[df["cuisines"].str.contains(pattern,na=False)].rate.mean()   # 3.45 ~ 3.5

3.4543073208509862

### What is the most profitable area for Zomato based on potential revenue estimation?

In [164]:
df["Profit_earned"] = (df["approx_costfor_two_people"]*df["votes"]*df["rate"]) - 0.30

In [166]:
df.groupby("listed_incity")["Profit_earned"].max()   # Bellandur(is in option)

listed_incity
BTM                       68576759.7
Banashankari              16117199.7
Bannerghatta Road         30356479.7
Basavanagudi              21685439.7
Bellandur                128144799.7
Brigade Road              75374999.7
Brookefield               77561279.7
Church Street             75437999.7
Electronic City            7891359.7
Frazer Town               48671699.7
HSR                       42459479.7
Indiranagar              105439799.7
JP Nagar                  50207359.7
Jayanagar                 50583679.7
Kalyan Nagar              14346639.7
Kammanahalli              21049599.7
Koramangala 4th Block     69109739.7
Koramangala 5th Block     69287399.7
Koramangala 6th Block     69359779.7
Koramangala 7th Block     69418999.7
Lavelle Road              75644999.7
MG Road                   75725999.7
Malleshwaram              50826879.7
Marathahalli              93089279.7
New BEL Road              22492869.7
Old Airport Road          77003999.7
Rajajinagar               50965459.7
Residency Road            75770999.7
Sarjapur Road            131962879.7
Whitefield                79681919.7
Name: Profit_earned, dtype: float64

### If Zomato wants to reduce customer complaints, which restaurant type should they focus on?

In [174]:
df.groupby(["rate"])["rest_type"].value_counts()  #Quick Bites

rate  rest_type
0.0   Quick Bites           1129
      Casual Dining          264
      Takeaway, Delivery     180
      Cafe                   122
      Delivery               111
                            ...
4.8   Pub                      2
4.9   Casual Dining, Bar      19
      Casual Dining           16
      Dessert Parlor          14
      Microbrewery             6
Name: count, Length: 789, dtype: int64

### In which area should Zomato invest by considering high rating (rate > 4.2), high number of votes (> 500) and including online orders?

In [177]:
df[(df["votes"] > 500.0) & (df["rate"] > 4.2) & (df["online_order"] == "Yes")]["listed_incity"].value_counts()
#Koramangala 7th Block

listed_incity
Koramangala 7th Block    97
MG Road                  97
Church Street            95
Koramangala 4th Block    95
Brigade Road             94
Koramangala 5th Block    92
BTM                      91
Koramangala 6th Block    90
Lavelle Road             82
Residency Road           81
Indiranagar              80
Old Airport Road         64
Frazer Town              56
Jayanagar                56
Bellandur                55
Whitefield               44
Sarjapur Road            43
HSR                      41
JP Nagar                 38
Brookefield              34
Marathahalli             32
Malleshwaram             31
Basavanagudi             24
Kammanahalli             23
Kalyan Nagar             23
Rajajinagar              22
Bannerghatta Road        19
Banashankari             11
New BEL Road              9
Electronic City           7
Name: count, dtype: int64